<div class="container my-3">

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">To Do List</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">About</h6>
      <p class="card-text">This App Has Been Created By Naman!</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

  <ul >
    <li *ngFor="let user of users">
      {{user.name}} id =  {{user.id}}
    </li>
  </ul>

</div>

<app-footer></app-footer>